.titulo {
    font-family: fantasy, sans-serif;
    color: black;
    font-size: 45;
}
h1, h2, p {
    font-family: 'Segoe UI', sans-serif;
}
img {
    display: block;
    width: 60%;
    margin: auto;
}
html {
    text-align: center;
}
body {
background-color: lightblue;
}
.inicio {
    background-color: lightblue;
    padding: 30px;
    max-width: 500px;
}
h2, h3,  p {
    font-size: 40px;
}
.desorden {
    font-size: 25px;
    text-align: center;
}
.orden {
    font-size: 25px;
    text-align: center;
}
div p {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.final {
    font-size: 15px;
}
hr {
    background-color: blue;
    border-color: white;
}